# Bloquear execução de scripts na pasta uploads
Options -ExecCGI -Indexes
AddHandler cgi-script .php .pl .py .jsp .asp .sh .cgi

# Permitir apenas imagens
<FilesMatch "\.(jpg|jpeg|png|gif)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

# Bloquear tudo que não for imagem
<FilesMatch "\.(?!(jpg|jpeg|png|gif|txt)$)[^.]+$">
    Order Allow,Deny
    Deny from all
</FilesMatch>
